version: 2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:22.17.1
    working_directory: ~/repo
    environment:
      - NODE_BIN_DIR: "node_modules/.bin"
      - PRERELEASE_COMMIT_HEAD: "chore(prerelease): bump version"
      - RELEASE_COMMIT_HEAD: "chore(release): bump version"

commands:
  add-github-write-key:
    description: "Add GitHub read/write ssh key"
    steps:
      - add_ssh_keys:
          fingerprints:
            - "47:59:56:60:06:a3:38:a0:35:b8:a2:46:5f:47:b3:e5"

  set-git-user:
    description: "Set git user in config"
    parameters:
      email:
        type: string
        default: "developer@twreporter.org"
      username:
        type: string
        default: "reporterdev"
    steps:
      - run: git config --global user.email << parameters.email >>
      - run: git config --global user.name << parameters.username >>

  set-npm-auth:
    description: "Set NPM authentication"
    steps:
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc

  publish:
    description: "Publish packages to NPM registry if needed"
    parameters:
      prerelease:
        type: boolean
        default: false
    steps:
      - run:
          name: "Publish packages to NPM registry if needed"
          command: |
            ${NODE_BIN_DIR}/lerna publish from-package \
              <<# parameters.prerelease >> --pre-dist-tag rc<</ parameters.prerelease >> \
              --yes

  version:
    description: "Bump packages version if needed"
    parameters:
      prerelease:
        type: boolean
        default: false
    steps:
      - run:
          name: "Bump packages version if needed"
          command: |
            echo "HEAD before version: $(git log -1 --pretty=format:%H)"
            # Bump release version (distribution files are built at `prepublishOnly` hook)
            ${NODE_BIN_DIR}/lerna version \
              --conventional-commits \
              <<# parameters.prerelease >>--preid rc<</ parameters.prerelease >> \
              <<# parameters.prerelease >>--conventional-prerelease<</ parameters.prerelease >> \
              <<^ parameters.prerelease >>--conventional-graduate<</ parameters.prerelease >> \
              --include-merged-tags \
              <<# parameters.prerelease >>--message "$PRERELEASE_COMMIT_HEAD"<</ parameters.prerelease >> \
              <<^ parameters.prerelease >>--message "$RELEASE_COMMIT_HEAD"<</ parameters.prerelease >> \
              --yes
            echo "HEAD after version: $(git log -1 --pretty=format:%H)"

  sync_with_remote_master:
    description: "Keep branch release synchronized with origin/master"
    steps:
      - run:
          name: "Push release to origin/master"
          command: |
            # In order to bump version for next release candidate base on current commit,
            # the origin/master branch need to be synchronized with release branch.
            # So, synchronize commits between them by pushing commits on release branch 
            # to origin/master.
            git push origin "$CIRCLE_BRANCH":master

  install-deps:
    description: "Install build dependencies"
    steps:
      - run:
          name: Enable Corepack
          # enable corepack to use other version of yarn
          command: sudo corepack enable
      - run:
          name: Set yarn version
          command: yarn set version 4.3.1
      - run:
          name: 'Generate checksum list of packages/*/package.json'
          # Ref: https://github.com/chrisbanes/tivi/blob/c1219aeee9f62600fcd43d7caf1ea21e6e92930f/checksum.sh
          command: |
            RESULT_FILE="packages-checksums"
            if [ -f $RESULT_FILE ]; then
              rm $RESULT_FILE
            fi
            touch $RESULT_FILE
            checksum_file() {
              echo `openssl md5 $1 | awk '{print $2}'`
            }
            FILES=()
            while read -r -d ''; do
              FILES+=("$REPLY")
            done < <(find ./packages -name 'package.json' -type f -print0)
            # Loop through files and append MD5 to result file
            for FILE in ${FILES[@]}; do
              echo `checksum_file $FILE` >> $RESULT_FILE
            done
            # Now sort the file so that it is 
            sort $RESULT_FILE -o $RESULT_FILE
      - restore_cache:
          key: v4-dependencies-build-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: v2-dependencies-link-{{ checksum "packages-checksums" }}
      - run: yarn install --immutable --check-cache
      - save_cache:
          key: v4-dependencies-build-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - save_cache:
          key: v2-dependencies-link-{{ checksum "packages-checksums" }}
          paths:
            - packages/core/node_modules
            - packages/index-page/node_modules
            - packages/react-article-components/node_modules
            - packages/react-components/node_modules
            - packages/redux/node_modules
            - packages/universal-header/node_modules
            - packages/errors/node_modules

jobs:

  test:
    executor: node-executor
    steps:
      - checkout
      - install-deps
      - run:
          name: "Run integration tests"
          command: make integration-test
      - run:
          name: "Run unit tests of changed packages"
          command: make changed-packages-unit-test

  version:
    executor: node-executor
    parameters:
      prerelease:
        type: boolean
        default: false
    steps:
      - checkout
      - install-deps
      - add-github-write-key
      - set-git-user
      - version:
          prerelease: << parameters.prerelease >>

  publish:
    executor: node-executor
    parameters:
      prerelease:
        type: boolean
        default: false
    steps:
      - checkout
      - install-deps
      - set-npm-auth
      - publish:
          prerelease: << parameters.prerelease >>

  sync_with_remote_master:
    executor: node-executor
    steps:
      - checkout
      - add-github-write-key
      - set-git-user
      - sync_with_remote_master

workflows:
  version: 2.1
  version_and_publish:
    jobs:
      - test
      - sync_with_remote_master:
          name: sync_with_remote_master_release 
          requires:
            - test
          filters:
            branches:
              only: release
      - version:
          name: version_release
          prerelease: false
          requires:
            - test
          filters:
            branches:
              only: release
      - publish:
          name: publish_release
          prerelease: false
          requires:
            - test
          filters:
            branches:
              only: release
      - version:
          name: version_prerelease
          prerelease: true
          requires:
            - test
          filters:
            branches:
              only: master
      - publish:
          name: publish_prerelease
          prerelease: true
          requires:
            - test
          filters:
            branches:
              only: master
